#soft-drinks {
  margin-top: 65px;
  background-color: aliceblue;
  margin-bottom: 50px;

  .foods {
    background-color: darkgray;
    height: 50px;
    color: #000;
    display: flex;
    align-items: center;
    padding-left: 15px;
    cursor: pointer;
    border-radius: 1rem;

    .title {
      margin-left: 1rem;
      font-size: 22px;
      margin-left: 30rem;

    }
  }

  .cart {
    border-radius: 5px;
    margin-top: 2rem;
    box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 2%)
  }

  .button-add {
   border-radius: 3px;
   border: 1px;
   background-color: cadetblue;
   color: whitesmoke;
  }


}